/* start navbar */

.navbar {
    background-color: #008374;
}

.navbar .collapse a {
    color: white;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

.navbar .collapse a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: 0px;
    left: -100px;
    transition: 0.5s;
}

.navbar .collapse a:hover::before {
    left: 0px;
    width: 100%;
    background-color: red;
}


/* end navbar */


/* start landing */

.landing {
    background-color: #008374;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.landing a {
    text-decoration: none;
    color: white;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    padding: 17px;
    margin-top: 15px;
    border-radius: 15px;
    display: inline-block;
    transition: 0.5s;
}

.landing a:hover {
    background-color: white;
    color: black;
}

.landing a:hover i {
    color: black !important;
}


/* end landing */


/* start four box */

.four-box .box {
    background-color: #008374;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    text-align: center;
}

.four-box .box i {
    font-size: 30px;
}


/* end four box */


/* start about */

.about h2 {
    position: relative;
    padding-bottom: 5px;
}

.about h2::before {
    content: "";
    position: absolute;
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #008374;
    border-radius: 10px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.about p {
    color: grey;
}


/* end about */


/* start call-action */

.call-action .info {
    background-image: url(Photo/map.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.call-action .info>div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 50%);
}


/* end call-action */


/* start services */

.services .row .box .icon {
    position: relative;
    z-index: 1;
    width: fit-content;
}

.services .row .box .icon::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #EEEEEE;
    z-index: -1;
    right: -15px;
    transform: 0.5s;
}

.services .row .box:hover .icon::before,
.services .row .box:hover h2::before {
    background-color: #008374;
    cursor: pointer;
}

.services .row .box .icon i {
    font-size: 30px;
}

.services .row .box .info h2 {
    position: relative;
    padding-bottom: 5px;
}

.services .row .info h2::before {
    content: "";
    position: absolute;
    width: 210px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    bottom: 0px;
    left: 0px;
    transition: 0.5s;
}

.services .row .box .end a {
    text-decoration: none;
    color: #008374;
    font-weight: bold;
}


/* end services */


/* start portfilo */

.portfilo {
    background-color: #F6F6F6;
    padding: 20px;
}

.portfilo .continer h4 {
    position: relative;
    padding-bottom: 4px;
}

.portfilo .continer h4::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 3px;
    background-color: #008374;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}


/* end portfilo */


/* start team */

.team .continer h4 {
    position: relative;
    padding-bottom: 4px;
}

.team .continer h4::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 3px;
    background-color: #008374;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}

.team .continer p {
    color: grey;
}


/* end team */


/* statrt pricing */

.pricing {
    background-color: #F6F6F6;
    padding: 20px;
}

.pricing .continer h4 {
    position: relative;
    padding-bottom: 6px;
}

.pricing .continer h4::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 3px;
    background-color: #008374;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}

.pricing .continer p {
    color: grey;
}

.pricing .content .row .box .end button {
    transition: 0.5s;
}

.pricing .content .row .box .end button:hover {
    background-color: #008374 !important;
    color: white !important;
}


/* end pricing */


/* start plog */

.plog {
    background-color: #F6F6F6;
    padding: 10px;
}

.plog .continer h4 {
    position: relative;
    padding-bottom: 6px;
}

.plog .continer h4::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 3px;
    background-color: #008374;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}

.plog .content .row .card .card-body p.card-text {
    font-weight: bold;
    transition: 0.5s;
}

.plog .content .row .card .card-body p.card-text:hover {
    color: #008374 !important;
    cursor: pointer;
}


/* end plog */


/* start contact */

.contact {
    background-color: white;
    padding: 10px;
}

.contact .continer h4 {
    position: relative;
    padding-bottom: 6px;
}

.contact .continer h4::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 3px;
    background-color: #008374;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}


/* end contact */